<div class="d-block">
  <div class="rounded-circle bg-secondary position-relative" style="width: <%= width %>px; height: <%= height %>px;">
    <span class="position-absolute top-50 start-50 translate-middle fw-bold"><%= initial %></span>
  </div>
</div>