<footer class="container pt-4">
  <hr class="mb-1">

  <div class="d-flex justify-content-end gap-2 pt-2 pb-4 text-muted px-3">
    <%= link_to "Terms", "#terms", class: "text-decoration-none text-muted" %>
    •
    <%= link_to "Privacy", "#privacy", class: "text-decoration-none text-muted" %>
    •
    <%= link_to "About", "#about", class: "text-decoration-none text-muted" %>
    •
    <%= link_to "Contact Us", "#contact-us", class: "text-decoration-none text-muted" %>
  </div>
</footer>