<footer class="container">
  <div class="d-flex justify-content-center justify-content-lg-end gap-2 pt-2 pb-3 text-muted px-3">
    <%= link_to "Terms of Service", "#terms", class: "text-decoration-none text-muted" %>
    •
    <%= link_to "Privacy", "#privacy", class: "text-decoration-none text-muted" %>
    •
    <%= link_to "Contact Us", "#contact-us", class: "text-decoration-none text-muted" %>
    •
    <%= link_to "About", "#about", class: "text-decoration-none text-muted" %>
  </div>
</footer>