<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-0">
      <%= link_to root_path, class: "navbar-brand fw-bold" do %>
        JEM
      <% end %>
      <button class="navbar-toggler border-0 rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="d-flex gap-4 ms-auto">
          <button class="btn btn-light bg-transparent fw-bold nav-link rounded-pill border-0" type="button">Sign In</button>
          <button class="btn btn-dark rounded-pill" type="button">Sign Up</button>
        </div>
      </div>
    </div>
  </nav>
</div>